/*WPT Tab style*/
.wpt-content-nopagination,.wpt-inner-content {
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.wpt-content:last-child,.wpt-content-nopagination:last-child,.wpt-inner-content:last-child{
  border: medium none;
}
.wpt-tab-holder{
	font-family: "Open Sans";
}
.wpt-tab-holder p {
	line-height: 24px;
	font-size: 14px !important;
	margin-bottom: 5px;
}
.wpt-cont-count p {
  font-style: italic;
  font-weight: 400;
}
.wpt-content h2,.wpt-content-nopagination h2 {
    font-size: 20px !important;
    font-weight: 600 !important;
    margin: 3px auto 15px !important;
}
.wpt-pagination{
	padding: 0;
	list-style: none;
	text-align: center;
	overflow: hidden;
}
.wpt-pagination li{
	display: inline-block;
	margin: auto 5px;
	line-height: 50px;
}
.wpt-content {
  display: none;
}
.wpt-active{
	display: block;
}
.wpt-tabtitles li:last-child{
	margin-right: 0px;
}
.wpt-tabtitles{
	padding:0;
	margin: auto;
}
.wpt-tabtitles li a:focus,.wpt-pagination li a:focus{
	outline:0;
}
.wpt-contenttab.active{
	display: block;
}
.wpt-contenttab {
  display: none;
  padding: 18px;
}
.wpt-tab-holder {
  margin: 20px auto;
}
/*Tab style*/
.wpt-tabtitles li {
  display: inline-block;
  list-style: outside none none;
  margin-right: 2px;
}
.wpt-tabtitles li a {
  display: block;
  font-size: 15px;
  line-height: 1.8em;
  margin-bottom: 0;
  padding: 5px 18px !important;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  border: 1px solid transparent;
}
.wpt-tabtitles li a.active {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 1px medium;
  margin-bottom: 0;
  padding-bottom: 10px !important;
  position: relative;
  z-index: 999;
}
.wpt-maincontenttab {
  position: relative;
  z-index: 9999;
  height: 100%;
  min-height: 100%;
}
.wpt-container {
  position: relative;
  top: -1px;
  border: 1px solid #efefef;
}
.wpt-pagination .active, .wpt-pagination a:hover {
  border: 2px solid;
  padding: 5px 10px;
  text-decoration: none;
}
.wpt-pagination a {
  border: 2px solid transparent;
  font-weight: 600;
  padding: 5px 10px;
}
.wpt-btn, .wpt-btn:hover {
  border-bottom: 1px solid !important;
}
.wpt-tab-holder a,.wpt-tab-holder a:hover{
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
@media (max-width: 991px){
	.wpt-tabtitles li {
	  display: block;
	  margin: auto;
	}
	.wpt-tabtitles li a, .wpt-tabtitles li a.active {
	  margin-bottom: 8px;
	  padding: 10px 15px !important;
	}
	.wpt-tabtitles li a.active{
		border: 1px solid;
	}
}
@media (max-width: 767px){
	.wpt-pagination li:first-child{
		display:none;
	}
	.wpt-content h2, .wpt-content-nopagination h2 {
	  font-size: 18px;
	  margin: 3px auto 12px;
	}
	.wpt-tab-holder p {
	  font-size: 13px;
	  line-height: 20px;
	}
	.wpt-pagination a,.wpt-pagination .active, .wpt-pagination a:hover {
	  padding: 2px 8px;
	}
	.wpt-pagination li {
	  line-height: 35px;
	}
}